/* Reset de margin, padding e box-sizing para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o cabeçalho */
header {
    background-color: #004698; 
    display: flex;  
    /* width: 80%; */
    }

.contentHeader{
    width: 80%;
    margin-left: 10%;
    display: inline-block;
    height: 200px;

}

/* Estilo do título no cabeçalho */
.Title {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3vw;
    position: relative;
    top: -60%;
    left: 1%;
    text-align: center;
    color: #e7e7e7;
}

/* Estilo da logo */
#Logo {
    width: 180px;
    padding: 1vw;
}

/* Estilo do rodapé */
footer {
    background-color: #004698;
    color: white;
}

/* Estilo do título do rodapé */
.footerTitle {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 2vw;
    padding: 1vw 0;
}

/* Estilo do botão "Novo Registro" */
.btn-novo-registro {
    background-color: orange;
    color: blue;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    /* margin-left: 30px; */
}

/* Estilo do container do formulário */
#form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 70, 152, 1);
    display: none; /* Inicialmente oculto */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow-y: auto; /* Permite rolagem */
    padding: 1rem; /* Evita cortes no topo e na base */
}

/* Estilo do formulário */
#form-registro {
    width: 85%;
    margin-left: 7.5%;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    margin-top: 1vw;
    margin-bottom: 1vw;
    max-height: 90vh; /* Impede que ultrapasse a tela */
    overflow-y: auto; /* Adiciona rolagem dentro do formulário */
}

/* Estilo para inputs e selects dentro do formulário */
#form-registro input,
#form-registro select {
    width: 100%; 
    height: 2vw;
    background-color: #316DC8; /* Fundo azul */
    color: white; /* Texto branco */
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    margin-bottom: 1vw;
    outline: none;
}

/* Estilo para os placeholders dos inputs */
::placeholder {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 1vw;
    color: white;
}

/* Estilo para inputs específicos de data, hora, número e texto */
input[type="date"],
input[type="time"],
input[type="number"],
input[type="text"] {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 1%;
    color: black; /* Cor do texto */
    background-color: #f0f0f0; /* Cor de fundo */
    border-radius: 5px;
    border: 1px solid #ccc; /* Cor da borda */
}

/* Estilo para opções dentro dos selects */
select option {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Estilo para os labels */
label {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5vw; /* Aumenta o tamanho da fonte */
    color: rgb(0, 0, 0); /* Cor dos labels */
}

/* Estilo do botão "Salvar" */
button[type="submit"] {
    background-color: green;
    padding: 1vw;
    font-size: 1vw;
    color: white;
    border: none;
}

/* Efeito de hover para o botão "Salvar" */
button:hover[type="submit"] {
    background-color: rgb(13, 250, 13); /* Altera a cor no hover */
}

/* Estilo do botão "Cancelar" */
button[type="button"] {
    background-color: rgb(214, 4, 4);
    padding: 1vw;
    font-size: 1vw;
    color: white;
    border: none;
}

/* Efeito de hover para o botão "Cancelar" */
button:hover[type="button"] {
    background-color: rgb(255, 0, 0); /* Altera a cor no hover */
}

/* Estilo para o botão "Novo Registro" */
#btn-novo-registro {
    color: white;
    font-size: 1.5vw;
    background-color: green;
    border: none;
    margin-left: 10%;
    padding: 0.5vw 2vw;
}


#btn-novo-registro:hover {
    color: white;
    font-size: 1.5vw;
    background-color: rgb(13, 250, 13);
}


.content{
    font-family: "Noto Sans", sans-serif;   
    font-weight: 500;
    font-style: normal;
    font-size:3vw;
    text-align: center;
    margin-top: 2vw;
}


/* Garante que a página ocupe toda a altura da tela */
html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* O conteúdo cresce para empurrar o footer para baixo */
main {
    flex-grow: 1;
}

/* Rodapé sempre no final */
footer {
    background-color: #004698;
    color: white;
    text-align: center;
    padding: 1vw 0;
}


/* Estiliza a tabela com bordas */
#tabela-registros {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1vw;
    border: 2px solid #004698; /* Cor da borda principal */
}

/* Adiciona bordas às células da tabela */
#tabela-registros th,
#tabela-registros td {
    border: 1px solid #004698; /* Cor da borda interna */
    padding: 0.5vw;
    text-align: center;
}

/* Estiliza o cabeçalho da tabela */
#tabela-registros thead {
    background-color: #004698;
    color: white;
}


.table-container{
    width: 80%;
    margin-left: 10%;
}


.fonte{  
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    /* font-size: 1.5vw; ajuste o tamanho conforme necessário */
}




.form-floating label {
    color: #ffffff !important;
  }
  
.labelzao label{
    background-color: #316DC8;
    width: 100%;
    color: #ffffff;
    padding-left: 0.9vw;
    /* padding-top: 0.5vw; */
    /* margin-top: 1vw; */
   
}

.labelzao {
    background-color: #316DC8;
    border-radius: 0.3vw;
    padding-top: 1vw;
    margin-bottom: 1.5vw;
   
}

.labelzao input:focus {
    transform: scale(1.01); /* Aumenta o tamanho do input em 5% */
}













/* Estiliza a div que contém o label e o input */
.labelzao {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

/* Estiliza o label */
.labelzao label {
    font-size: 1rem;
    margin-right: 0.5rem;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

/* Estiliza o input */
.labelzao input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    transition: transform 0.3s ease-in-out;
}

/* Aplica o zoom ao passar o mouse sobre o input */
.labelzao input:hover {
    transform: scale(1.02   ); /* Aumenta o tamanho do input em 5% */
}

/* Reduz o tamanho do label ao passar o mouse sobre o input */
.labelzao input:hover + label {
    transform: scale(0.70); /* Reduz o tamanho do label em 5% */
    font-size: 0.95rem; /* Ajusta o tamanho da fonte do label */
}


/* Seleciona exclusivamente inputs do tipo date */
input[type="date"] {
    padding-left: 1.5vw; /* Ajuste o valor conforme necessário */
}

/* Ajusta o ícone do seletor de data no WebKit (Chrome, Safari) */
input[type="date"]::-webkit-calendar-picker-indicator {
    padding: 0;
    margin: 0;
}
input[type="time"] {
    padding-left: 1.5vw; /* Ajuste o valor conforme necessário */
}


.inputzado{
    width: 70%;
}

.labelzao label:hover {
    transform: scale(1.01   ); /* Aumenta o tamanho do input em 5% */
    
}
.labelzao {
    overflow: hidden;
    /* Outros estilos */
}
